
.index{
    background-color:black 
}
.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%; 
    margin: 0 auto;
}
  .titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    font-weight: 900;
    color: white; 
    text-decoration: none;
    
}


.subtitulo{
    font-family: "Fira Code", Monaco, monospace;
    color: white; 
    font-size: 2vw;
}
.copy{
    font-family: "Fira Code", Monaco, monospace;
    font-size: 18px;
    font-weight: 900;
}

.titulo:hover{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    font-size: 4.5vw; 
    transition: font-size 0.3s;
}

    

.rectangulo-izquierdo {
    top: 45%;
    left: 0;
    position: fixed;
    height: 5%;
    width: 42%; 
    background-color: white;
}

.rectangulo-derecho {
    top: 45%;
    right: 0; 
    position: fixed;
    height: 5%;
    width: 42%; 
    background-color: white;
}
.linea-izquierdo {
    top: 15%;
    left: 0;
    position: fixed;
    height: 0.5%;
    width: 30%; 
    background-color: white;
}

.linea-derecho {
    top: 85%;
    right: 0; 
    position: fixed;
    height: 0.5%;
    width: 30%; 
    background-color: white;
}
.encabezado {
    background-color: black; 
    color: white;
    padding: 60px;
    margin: 0%;
}
.pie {
    background-color: black; /* Establece el fondo del encabezado en negro */
    color: white; /* Establece el color de texto en el encabezado en blanco */
    padding: 20px; /* Espaciado interno en el encabezado */
    text-align: center;
}
body{
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
    }

.manual{
    background-color: white;
}

.tcentrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%; 
}
header{
    background-color: #000;
    
}
.link{
    font-family: "Fira Code", Monaco, monospace;
    color: black; 
    text-decoration: none;
}
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

 